
<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/lnb.min.css">
    <script src="{{ site.theme.link }}/assets/js/utils.js"></script>
</head>
<body>
    <div id="app">
        {% include 'view/Navbar.twig' %}

        <div class="container-fluid p-3">
            {% block content %}

                <!-- Title -->
                <div class="fs-1">
                    <span class="fw-bold">All</span>
                    <span class="text-primary pacifico-font">Articles</span>
                </div>

                <!-- Article List -->
                <div class="article-list">
                    {% for post in posts %}
                        <div class="card my-3 shadow-sm">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <a href="{{ post.link }}" class="text-decoration-none text-primary">{{ post.title }}</a>
                                </h2>
                                <p class="card-text">
                                    {{ post.preview }}
                                </p>
                                <a href="{{ post.link }}" class="btn btn-outline-primary">Read more</a>
                            </div>
                        </div>
                    {% else %}
                        <p class="text-center text-muted">No posts found.</p>
                    {% endfor %}
                </div>

            {% endblock %}
        </div>
        {% include 'view/Footer.twig' %}
    </div>
</body>
</html>
