<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/lnb.min.css">
    <script src="{{ site.theme.link }}/assets/js/utils.js"></script>
</head>
<body>
    <div id="app">
        {% include 'view/Navbar.twig' %}

        <div class="container-fluid p-3">
            {% block content %}

                <!-- Title -->
                <div class="fs-1">
                    <span class="fw-bold">All</span>
                    <span class="text-primary pacifico-font">Articles</span>
                </div>

                <!-- Article List with Two Columns -->
                <div class="row article-list">
                    <div class="col-lg-6 col-md-6">
                        {% for post in posts %}
                            {% if loop.index0 % 2 == 0 %}
                            <div class="card my-3 shadow-sm ">
                                <div class="card-body">
                                    <h3 class="card-title fw-bold">
                                        <a href="{{ post.link }}" class="text-decoration-none text-primary">{{ post.title }}</a>
                                    </h3>
                                    <p class="card-text">
                                        {{ post.preview }}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-lg-6 col-md-6">
                        {% for post in posts %}
                            {% if loop.index0 % 2 == 1 %}
                            <div class="card my-3 shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title fw-bold">
                                        <a href="{{ post.link }}" class="text-decoration-none text-primary">{{ post.title }}</a>
                                    </h3>
                                    <p class="card-text">
                                        {{ post.preview }}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            

                <!-- Pagination -->
                <!--
                <nav aria-label="Page navigation" class="mt-4">
                    <ul class="pagination justify-content-center">
                        {% if pagination.prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pagination.prev.link }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page in pagination.pages %}
                            <li class="page-item {% if page.current %}active{% endif %}">
                                <a class="page-link" href="{{ page.link }}">{{ page.number }}</a>
                            </li>
                        {% endfor %}

                        {% if pagination.next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ pagination.next.link }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                -->

            {% endblock %}
        </div>
        {% include 'view/Footer.twig' %}
    </div>
</body>
</html>