<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}</title>

    <!--
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/lnb.min.css">
    <script src="{{ site.theme.link }}/assets/js/utils.js"></script>
    -->

    {{ function('wp_head') }}
</head>
<body>
    <div id="app">
        {% include 'view/Navbar.twig' %}

        <div class="container-fluid p-3">

            <!-- Hero Section -->
            <div class="mb-3">

                <!-- Default Welcome Title -->
                {% if hero is empty %}
                <div class="d-flex justify-content-center">
                    <div class="fs-1 mb-3">
                        <span class="text-primary pacifico-font">Welcome</span>
                        <span class="fw-bold">to</span>
                        <span class="fw-bold">{{ site.name }}</span>
                    </div>
                </div>

                <!-- User Defined Hero -->
                {% else %}
                    {{ hero | raw }}
                {% endif %}
            </div>
			
			<style>
			 canvas {
            display: block;
            width: 100%;  /* This makes the canvas fill the div's width */
            height: 100%; /* This makes the canvas fill the div's height */
        }
			</style>

            {% for category, links in grouped_links %}
                <div class="row mb-3">
                    <div class="col-12">
                        <h4 class="text-primary fw-bold">
                            {{ category|default("Uncategorized") }}
                        </h4>
                    </div>

                    {% for link in links %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 menu-col">
                            <div class="link-item">
							
                                <!-- Image -->
                                <div class="banner-container">
									{% if link.image_url is empty %}
										<canvas id="myCanvas" width="100%" height="100%"></canvas>
									{% else %}
										<img src="{{ link.image_url }}" alt="{{ link.text }}">
									{% endif %}									
                                </div>

                                <!-- Overlay when hovered -->
                                <div class="overlay"
                                    onmouseover="this.style.backgroundColor = lightenColor('{{ link.color }}', 90);"
                                    onmouseout="this.style.backgroundColor='';"
                                >
                                    <!-- Text -->
                                    <div class="text-primary" style="color: {{ link.color }} !important;">
                                        <h4 class="fw-bold">{{ link.text }}</h4>                  
                                    </div>

                                    <!-- Buttons -->
                                    <div class="d-grid gap-0 col-6 mx-auto">

                                        <!-- Link -->
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-dark"
                                            onclick="window.open('{{ link.url }}', '_blank')"
                                            {% if link.url == '' %}disabled{% endif %}
                                        >
                                            Visit Site
                                        </button>

                                        <!-- Page -->
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-dark"
                                            onclick="window.open('{{ link.page }}')"
                                            {% if link.page == '' %}disabled{% endif %}
                                        >
                                           Learn More
                                        </button>

                                        <button type="button" class="btn btn-outline-dark" disabled>
                                            Share
                                        </button>                                   
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <script>
			const patternGenerator = new PatternGenerator('#FF6347');
			patternGenerator.drawPattern('myCanvas', 'test123');
		</script>


        {% include 'view/Footer.twig' %}
        {{ function('wp_footer') }}
    </div>
</body>
</html>