<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/lnb.min.css">
    <script src="{{ site.theme.link }}/assets/js/utils.js"></script>
</head>
<body>
    <div id="app">
        {% include 'view/Navbar.twig' %}

        <div class="container-fluid">

            <!-- Hero Section -->
            <div class="p-3 mb-3">
                {{ hero | raw }}
            </div>

            <div class="row">
                {% for link in links %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 menu-col">
                        <div class="link-item">

                            <!-- Image -->
                            <div class="banner-container">
                                <img src="{{ link.image_url }}" alt="{{ link.text }}">
                            </div>

                            <!-- Overlay when hovered -->
                            <div class="overlay"
                                onmouseover="this.style.backgroundColor = lightenColor('{{ link.color }}', 90);"
                                onmouseout="this.style.backgroundColor='';"
                            >

                                <!-- Text -->
                                <div class="text-primary fw-bold pacifico-font" style="color: {{ link.color }} !important;">
                                    <h4>{{ link.text }}</h4>                  
                                </div>
        
                                <!-- Buttons -->
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-dark">
                                        Visit
                                    </button>
                                    <button type="button" class="btn btn-outline-dark">
                                        About
                                    </button>
                                    <button type="button" class="btn btn-outline-dark">
                                        Share
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>



        </div>

        {% include 'view/Footer.twig' %}
    </div>

    <!--

    <h1>{{ site.name }}</h1>
    <h2>{{ foo }}</h2>

    {% for post in posts %}
        <article>
            <h3>{{ post.title }}</h3>
            <div>{{ content.post.content }}</div>
        </article>
    {% endfor %}
    -->
</body>
</html>
